
.btn-light {
    color: #ffff;
    background-color: transparent;
    border-color: #faf9fa;
    border: 2px solid #ffff;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.logotipo{
    width: 50px;
    padding: 10px 0;
}

.redes-header{
    width: 30px;
    margin: 10px 5px;
}

.altura-a-b{
    padding: 100px 0;
}

.banner-video{
    background-image: url(../imagenes/ImagendeYOUTUBE.jpg);
    padding: 150px 0px;
    position: relative;
    text-align: center;
}

.banner-video img{
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 60px;
}
/*cabecera somos SEGUNDA PAGINA-WEB*/
.cabecera-somos{
    padding: 100px 0;
    background-image: url(../imagenes/14-DE-SEPTIEMBRE-COCHABAMBA.jpg);
    background-position: center center;
    background-size: cover;
}
.cabecera-somos, h1 .cabecera-somos, h2{
    color: ivory;
}
.banner-somos{
    background-image: url(../imagenes/somos-equipo.jpg);
    background-position: center center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}
.text-center{
    color: ivory;
}
/*fin de cabezera*/
footer{
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}
footer .logotipo-footer{
    position: relative;
    width: 100px;
    margin-bottom: 20px;
}
footer p{
    color: floralwhite;
    font-size: 12px;
}
